@import "../../styles/abstracts/_index";
.main {
  display: flex;
  width: 100%;
  background-color: white;
}
.left {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 360px;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: $primary;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}
.inputList {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
span {
  display: block;
  margin-bottom: 6px;
  @include sm-medium;
}
.forgot {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $primary;
  margin-top: 16px;
  margin-bottom: 16px;
}
.button {
  margin-top: 24px;

  button {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.signup {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $secondary;
  display: flex;
  justify-content: center;
  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
    margin-left: 4px;
  }
}
.right {
  width: 50%;
  height: 100vh;
  background-color: antiquewhite;
}
