$primary: #101828;
$secondary: #475467;
$hover: #344054;
$hover-text: #f9fafb;
$border: #d0d5dd;
$radius: 12px;
$radius-sm: 8px;
$shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
$shadow-double: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
