@import "../../../styles/abstracts/_index";
.modal {
  &Background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: -webkit-fill-available;
    cursor: pointer;
  }
}
